.footer{
  width: 100%;
  height:40%;
  text-align: center;
  background-color: rgb(27, 27, 27);
  position:relative;
  top:180%;
  padding:5%;
}
 
.icon-bar{
  position:relative;
  top:50%;
}
.icon-bar a {
  display: inline-block;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
  border-radius: 50%;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
