
    <div class="container-fluid">
        <div class="row" style="background-color: black;">
            <div class="col" style="text-align: left;padding-top:10%;padding-left:7%; background-color: black;">
                <h1 class="animated bounceInLeft" id="fitness_classes" style="color:white; font-family:'Trebuchet MS', Helvetica, sans-serif;">
                Take Your Fitness<br>
                To The Next Level<br>
                </h1>
            </div>
            <div class="col" style="padding:0px;">
                <img class="bgimg" src="/images/gym.jpg" style="width: 100%;"></img>
            </div>
        </div>
        <div class="row" style="background-color:#f44336">
              <div class="col" style="padding-left:15%;padding-top:5%;padding-bottom:5%;padding-right:3%;">
                <div class="card" style="background-color:rgb(27, 27, 27);">
                  <img src="/images/icons/biceps.png " style="width:25%;background-color:white;margin:5%;padding:5px" class="card-img-top rounded-pill" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color:white">Online Coaching</h5><br>
                    <p class="card-text" style="color:white">Receive programming wherever you are in the world: remote assistance and constant contact with our professionals</p><br><br><br>
                  </div>
                </div>
              </div>
              <div class="col" style="padding-left:3%;padding-top:5%;padding-bottom:5%;padding-right:3%;">
                <div class="card" style="background-color:rgb(27, 27, 27);">
                  <img src="/images/icons/body.png" style="width:25%;background-color:white;margin:5%;padding:5px;" class="card-img-top rounded-pill" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color:white" >Results</h5> <br>
                    <p class="card-text" style="color:white">Lifestyle transformations which create long lasting results to your health, body & mind.</p><br><br><br>
                  </div>
                </div>
              </div>
              <div class="col" style="padding-left:3%;padding-top:5%;padding-bottom:5%;padding-right:15%;">
                <div class="card" style="background-color:rgb(27, 27, 27);">
                    <img src="/images/icons/fitness.png " style="width:25%;background-color: white;margin:5%;padding:5px;" class="card-img-top rounded-pill" alt="...">
                    <div class="card-body">
                     <h5 class="card-title" style="color:white">Tailored for you!</h5> <br>
                    <p class="card-text" style="color:white">Based on your goals and requests, our trainers will be able to develop a personalized training programs </p><br><br>
                    </div>
                </div>
              </div>
        </div>
  
        <div class="row" style="background-color:white">
            <div class="col-7 parent"style="margin-bottom:100px;">
                <img src="/images/home-img1.jpg" class="image1">
                <img src="/images/home-img2.jpg" class="image2" style="margin-top:170px;">
                <img src="/images/home-img3.jpg" class="image3">
            </div>
            <div class="col" style="padding-left:0px;padding-right:50px;padding-top:100px;">
                <h1>Who we are</h1>
                <p class="fs-4" style="text-align:justify;color: black; font-family:'Trebuchet MS', Helvetica, sans-serif;"">FitNet promotes sport as a lifestyle: we are firmly convinced that through the dissemination of sporting practice, its teaching and the values ​​connected to it, we can contribute to creating a more civilized and, above all, healthier society.</p>
            </div>
        </div>
        <div class="row">
              <div class="col footer" style="text-align: center;">
                <img class="logo" src="/images/logo.png"><br><br>
                <b style="color: #f44336;">FOLLOW US</b><br><br>
                <div class="icon-bar">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="google"><i class="fa fa-google"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                </div>
             </div>
        </div>
    </div>
    
    