<h1>Homepage</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if can? :read, Request %>
    <a class="active link"<%= link_to 'Requests', requests_path %></a>
<% end %>

<%if user_signed_in? %>
    <script type="text/javascript">
        window.location.href="messages"
    </script>
<% end %>


</div>


